## TF-IDF

In [1]:
import numpy as np
import pandas as pd

In [2]:
d1 = "The cat sat on my face I hate a cat"
d2 = "The dog sat on my bed I love a dog"

text_list = [d1, d2]

vocab = list(set(w for doc in text_list for w in doc.split()))
vocab.sort()
vocab

['I',
 'The',
 'a',
 'bed',
 'cat',
 'dog',
 'face',
 'hate',
 'love',
 'my',
 'on',
 'sat']

In [3]:
N = len(text_list)        
N

2

In [4]:
# TF, IDF, TF-IDF 구하는 함수
def f(t, d):
    return d.count(t)

def tf(t, d):
    return f(t,d)/len(d)

def idf(t):
    df = 0
    for doc in text_list:
        df += t in doc
    return np.log(N/df)

def tfidf(t, d):
    return tf(t,d)* idf(t)

In [5]:
# TF(DTM)
result = []
for i in range(N):
    result.append([])
    d = text_list[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t, d))
        
tf_ = pd.DataFrame(result, columns = vocab)
tf_

,I,The,a,bed,cat,dog,face,hate,love,my,on,sat
0,0.028571,0.028571,0.171429,0.000000,0.057143,0.000000,0.028571,0.028571,0.000000,0.028571,0.028571,0.028571
1,0.029412,0.029412,0.058824,0.029412,0.000000,0.058824,0.000000,0.000000,0.029412,0.029412,0.029412,0.029412

In [6]:
# IDF
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))
    
idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

           IDF
I     0.000000
The   0.000000
a     0.000000
bed   0.693147
cat   0.693147
dog   0.693147
face  0.693147
hate  0.693147
love  0.693147
my    0.000000
on    0.000000
sat   0.000000

In [7]:
# TF-IDF
result = []
for i in range(N):
    result.append([])
    d = text_list[i]
    for j in range(len(vocab)):
        t = vocab[j]
        
        result[-1].append(tfidf(t,d))
tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

,I,The,a,bed,cat,dog,face,hate,love,my,on,sat
0,0.0,0.0,0.0,0.000000,0.039608,0.000000,0.019804,0.019804,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.020387,0.000000,0.040773,0.000000,0.000000,0.020387,0.0,0.0,0.0

In [1]:
import numpy as np
import pandas as pd


class TFIDF(object):
    def __init__(self, object):
        self.docs = object
        self.N = len(object)
        self.vocab = list(set(w for doc in self.docs for w in doc.split()))
    
    def f(self, t, d):
        return d.count(t)
    
    def tf(self, t, d):
        return self.f(t,d)/len(d)

    def idf(self, t):
        df = 0
        for doc in self.docs:
            df += t in doc
        return np.log(self.N/df)

    def tfidf(self, t, d):
        return self.tf(t,d)* self.idf(t)
    
    def mkdf_tf(self, object):
        result = []
        for i in range(self.N):
            result.append([])
            d = docs[i]
            for j in range(len(self.vocab)):
                t = self.vocab[j]
                result[-1].append(tf(t, d))

        tf_ = pd.DataFrame(result, columns = self.vocab)
        return tf_
    
    def mkdf_idf(self, object):
        result = []
        for j in range(len(self.vocab)):
            t = self.vocab[j]
            result.append(idf(t))

        idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
        return idf_
    
    def mkdf_tfidf(self, object):
        result = []
        for i in range(self.N):
            result.append([])
            d = self.docs[i]
            for j in range(len(self.vocab)):
                t = self.vocab[j]

                result[-1].append(self.tfidf(t,d))
        tfidf_ = pd.DataFrame(result, columns = self.vocab)
        return tfidf_

In [2]:
d1 = "The cat sat on my face I hate a cat"
d2 = "The dog sat on my bed I love a dog"

text_list = [d1, d2]

In [3]:
test = TFIDF(text_list)
test.mkdf_tfidf(text_list)

,face,The,love,sat,my,I,dog,on,cat,a,bed,hate
0,0.019804,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.039608,0.0,0.000000,0.019804
1,0.000000,0.0,0.020387,0.0,0.0,0.0,0.040773,0.0,0.000000,0.0,0.020387,0.000000